<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_dd9ec50d7c8a5dcdd071284bacd53082 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>
    <div class="folium-map" id="map_dd9ec50d7c8a5dcdd071284bacd53082" ></div>
    <div class="box" style="top:30px; left:100px; position: fixed; background-color:transparent; z-index: 999;">
        <div class="tap">
            <a href="/patientcenter/" style="border: 2px solid #040000; background-color:#FFFFFF;">返回首页</a>
        </div>
        <form id="luxian" method="POST" action="/traffic/">
            <div>
                {% csrf_token %}
                <input class="input_box" type="text" name="num" placeholder="位置序号" />
                <input class="input_box" type="text" name="lat" placeholder="纬度" />
                <input class="input_box" type="text" name="lon" placeholder="经度" />
                <input class="button_box" type="submit" value="确认" />
            </div>
        </form>
    </div>
    
        
</body>
<script>
    
    
            var map_dd9ec50d7c8a5dcdd071284bacd53082 = L.map(
                "map_dd9ec50d7c8a5dcdd071284bacd53082",
                {
                    center: [31.024075697, 121.43663227],
                    crs: L.CRS.EPSG3857,
                    zoom: 16,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_bc0698fe3ef5e76747da4da0b0903ef5 = L.tileLayer(
                "http://webst02.is.autonavi.com/appmaptile?style=6\u0026x={x}\u0026y={y}\u0026z={z}",
                {"attribution": "default", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_dd9ec50d7c8a5dcdd071284bacd53082);
        
    
                var lat_lng_popup_6976fbb3c41f9132b2b7768689f4e7a4 = L.popup();
                function latLngPop(e) {
                    lat_lng_popup_6976fbb3c41f9132b2b7768689f4e7a4
                        .setLatLng(e.latlng)
                        .setContent("Latitude: " + e.latlng.lat.toFixed(4) +
                                    "<br>Longitude: " + e.latlng.lng.toFixed(4))
                        .openOn(map_dd9ec50d7c8a5dcdd071284bacd53082);
                    }
                map_dd9ec50d7c8a5dcdd071284bacd53082.on('click', latLngPop);
            
    
            var marker_cluster_1158f9646ea20470c53ae349951f18bf = L.markerClusterGroup(
                {}
            );
            map_dd9ec50d7c8a5dcdd071284bacd53082.addLayer(marker_cluster_1158f9646ea20470c53ae349951f18bf);
        
    
            var marker_52fd951d6c6106c943f7ed22456e0c21 = L.marker(
                [31.024075697, 121.43663227],
                {"color": "red"}
            ).addTo(marker_cluster_1158f9646ea20470c53ae349951f18bf);
        
    
        var popup_abfb9bd8d16f06bf947726f799157d04 = L.popup({"maxWidth": "100%"});

        
            
                var html_e9a305a5d6c99f3cbf65661b1bfe4203 = $(`<div id="html_e9a305a5d6c99f3cbf65661b1bfe4203" style="width: 100.0%; height: 100.0%;">1:东下院</div>`)[0];
                popup_abfb9bd8d16f06bf947726f799157d04.setContent(html_e9a305a5d6c99f3cbf65661b1bfe4203);
            
        

        marker_52fd951d6c6106c943f7ed22456e0c21.bindPopup(popup_abfb9bd8d16f06bf947726f799157d04)
        ;

        
    
    
            var marker_f441f43c82624a2751201ed0ccae7154 = L.marker(
                [31.0269309351, 121.42602682],
                {"color": "red"}
            ).addTo(marker_cluster_1158f9646ea20470c53ae349951f18bf);
        
    
        var popup_84dd50247e953a21b3b6428d3c1dfb23 = L.popup({"maxWidth": "100%"});

        
            
                var html_953df56ab97d5a477050226edfc1584e = $(`<div id="html_953df56ab97d5a477050226edfc1584e" style="width: 100.0%; height: 100.0%;">2:霍体</div>`)[0];
                popup_84dd50247e953a21b3b6428d3c1dfb23.setContent(html_953df56ab97d5a477050226edfc1584e);
            
        

        marker_f441f43c82624a2751201ed0ccae7154.bindPopup(popup_84dd50247e953a21b3b6428d3c1dfb23)
        ;

        
    
    
            var marker_eb13e7a39ac195dd3e9c9acb02d98b8d = L.marker(
                [31.0252684663, 121.4420986175],
                {"color": "red"}
            ).addTo(marker_cluster_1158f9646ea20470c53ae349951f18bf);
        
    
        var popup_211fa9390b5898e323468d693108eb66 = L.popup({"maxWidth": "100%"});

        
            
                var html_7e36427b1201d0aad0605b4913ed52db = $(`<div id="html_7e36427b1201d0aad0605b4913ed52db" style="width: 100.0%; height: 100.0%;">3:电院</div>`)[0];
                popup_211fa9390b5898e323468d693108eb66.setContent(html_7e36427b1201d0aad0605b4913ed52db);
            
        

        marker_eb13e7a39ac195dd3e9c9acb02d98b8d.bindPopup(popup_211fa9390b5898e323468d693108eb66)
        ;

        
    
</script>
</html>