<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>上海交通大学校医院</title>
		<link rel="stylesheet" type="text/css" href="/static/css/choose_login.css" />
	</head>

	<body>
		{% load static %}
		<div class="PageFont">
			<div class="badge"></div>
			<div class="sjtu"><p>校医院</p></div>
		</div>
		<div class="behind">
			<div class="Page1">
				<div class="div1">
					<div class="top"><h1 class="head">请选择你的身份</h2></div>
					<div class="bt">
					<a href="/doctorlogin/">
						<button class="button">医生</button>
					</a></div>
					<div class="bt1">
					<a href="/patientlogin/">
						<button class="button">患者</button>
					</a></div>
					<div class="bt2">
					<a href="admin/">
						<button class="button">管理员</button>
					</a></div>
				</div>
			</div>
		</div>
	</body>
</html>
