<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_1ff50fd632fedc21e95143d85be78ed2 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body><div class='box' style='top:30px; left:100px; position: fixed; background-color:transparent; z-index: 999;'>
<div class='tap'>
<a href='/patientcenter/' style='border: 2px solid #040000; background-color:#FFFFFF;'>返回首页</a>
</div>
<form id='luxian' method='POST' action='/traffic/'>
<div>
{% csrf_token %}
<input class='input_box' type='text' name='num' placeholder='位置序号' />
<input class='input_box' type='text' name='lat' placeholder='纬度' />
<input class='input_box' type='text' name='lon' placeholder='经度' />
<input class='button_box' type='submit' value='确认' />
</div>
</form>
<textarea cols='25' rows='5' style='width: 228px;'>
步骤 1: 向西步行48米左转
步骤 2: 沿文俊路向南步行95米向右前方行走
步骤 3: 沿文俊路向西南步行72米向右前方行走
步骤 4: 沿南洋南路向西步行274米左转
步骤 5: 沿精勤路向南步行91米左转到达目的地
</textarea>
</div>
<div class="folium-map" id="map_1ff50fd632fedc21e95143d85be78ed2" ></div>
        
</body>
<script>
    
    
            var map_1ff50fd632fedc21e95143d85be78ed2 = L.map(
                "map_1ff50fd632fedc21e95143d85be78ed2",
                {
                    center: [31.024075697, 121.43663227],
                    crs: L.CRS.EPSG3857,
                    zoom: 16,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_bb75dcf0883d8cb196b07a2c64ff901e = L.tileLayer(
                "http://webst02.is.autonavi.com/appmaptile?style=6\u0026x={x}\u0026y={y}\u0026z={z}",
                {"attribution": "default", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_1ff50fd632fedc21e95143d85be78ed2);
        
    
                var lat_lng_popup_58ec8d4b3b531d69cfd62c64fa14a92e = L.popup();
                function latLngPop(e) {
                    lat_lng_popup_58ec8d4b3b531d69cfd62c64fa14a92e
                        .setLatLng(e.latlng)
                        .setContent("Latitude: " + e.latlng.lat.toFixed(4) +
                                    "<br>Longitude: " + e.latlng.lng.toFixed(4))
                        .openOn(map_1ff50fd632fedc21e95143d85be78ed2);
                    }
                map_1ff50fd632fedc21e95143d85be78ed2.on('click', latLngPop);
            
    
            var poly_line_57390ad77f22ec6bb2ab95ea2e2b32a9 = L.polyline(
                [[31.021693, 121.436398], [31.021545, 121.435924], [31.021541, 121.43592], [31.021246, 121.436046], [31.021246, 121.436046], [31.020816, 121.436224], [31.020816, 121.436224], [31.020725, 121.436263], [31.02072, 121.436263], [31.020599, 121.436228], [31.020495, 121.436189], [31.020399, 121.436146], [31.020317, 121.436107], [31.020226, 121.43605], [31.02013, 121.435968], [31.020126, 121.435964], [31.019991, 121.435421], [31.019865, 121.435052], [31.019865, 121.435052], [31.019852, 121.435009], [31.019761, 121.434601], [31.019761, 121.434601], [31.019653, 121.434076], [31.019653, 121.434076], [31.019566, 121.433663], [31.019566, 121.433663], [31.01947, 121.43319], [31.019466, 121.433186], [31.01924, 121.433247], [31.01924, 121.433247], [31.018724, 121.433403], [31.018724, 121.433403], [31.018741, 121.433472]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1ff50fd632fedc21e95143d85be78ed2);
        
    
            var marker_cluster_3f0fcfe22b63b778cbf8b1aa0b32b8a8 = L.markerClusterGroup(
                {}
            );
            map_1ff50fd632fedc21e95143d85be78ed2.addLayer(marker_cluster_3f0fcfe22b63b778cbf8b1aa0b32b8a8);
        
    
            var marker_b51fe0312361d0a50289e4daa870e8bb = L.marker(
                [31.0217, 121.4364],
                {"color": "red"}
            ).addTo(marker_cluster_3f0fcfe22b63b778cbf8b1aa0b32b8a8);
        
    
        var popup_a01d448ffa9f62d9e83fd56195466d6e = L.popup({"maxWidth": "100%"});

        
            
                var html_a50e242fe228b2115eb0c28460584d25 = $(`<div id="html_a50e242fe228b2115eb0c28460584d25" style="width: 100.0%; height: 100.0%;">实时位置</div>`)[0];
                popup_a01d448ffa9f62d9e83fd56195466d6e.setContent(html_a50e242fe228b2115eb0c28460584d25);
            
        

        marker_b51fe0312361d0a50289e4daa870e8bb.bindPopup(popup_a01d448ffa9f62d9e83fd56195466d6e)
        ;

        
    
    
            var marker_fed1613e10e6eeb9d73ca9467e1eaf63 = L.marker(
                [31.024075697, 121.43663227],
                {"color": "red"}
            ).addTo(marker_cluster_3f0fcfe22b63b778cbf8b1aa0b32b8a8);
        
    
        var popup_5ca2b7da6db6666305032295c1398b7c = L.popup({"maxWidth": "100%"});

        
            
                var html_bb885a25c40f8514551b612aead751c9 = $(`<div id="html_bb885a25c40f8514551b612aead751c9" style="width: 100.0%; height: 100.0%;">1:东下院</div>`)[0];
                popup_5ca2b7da6db6666305032295c1398b7c.setContent(html_bb885a25c40f8514551b612aead751c9);
            
        

        marker_fed1613e10e6eeb9d73ca9467e1eaf63.bindPopup(popup_5ca2b7da6db6666305032295c1398b7c)
        ;

        
    
    
            var marker_b5628b7bb946d495aa15663fe43708a6 = L.marker(
                [31.0269309351, 121.42602682],
                {"color": "red"}
            ).addTo(marker_cluster_3f0fcfe22b63b778cbf8b1aa0b32b8a8);
        
    
        var popup_87386bc379d2403115e3b9e2db329b4c = L.popup({"maxWidth": "100%"});

        
            
                var html_7cda414a0f834690bb0df69d22740cb9 = $(`<div id="html_7cda414a0f834690bb0df69d22740cb9" style="width: 100.0%; height: 100.0%;">2:霍体</div>`)[0];
                popup_87386bc379d2403115e3b9e2db329b4c.setContent(html_7cda414a0f834690bb0df69d22740cb9);
            
        

        marker_b5628b7bb946d495aa15663fe43708a6.bindPopup(popup_87386bc379d2403115e3b9e2db329b4c)
        ;

        
    
    
            var marker_d54314438a2ac48c38aa6f305a730f13 = L.marker(
                [31.0252684663, 121.4420986175],
                {"color": "red"}
            ).addTo(marker_cluster_3f0fcfe22b63b778cbf8b1aa0b32b8a8);
        
    
        var popup_8b9ad93b19ed0b5b9e54bceea8e19b36 = L.popup({"maxWidth": "100%"});

        
            
                var html_bdcf32b52d9367e0d0fa24eda523fcfb = $(`<div id="html_bdcf32b52d9367e0d0fa24eda523fcfb" style="width: 100.0%; height: 100.0%;">3:电院</div>`)[0];
                popup_8b9ad93b19ed0b5b9e54bceea8e19b36.setContent(html_bdcf32b52d9367e0d0fa24eda523fcfb);
            
        

        marker_d54314438a2ac48c38aa6f305a730f13.bindPopup(popup_8b9ad93b19ed0b5b9e54bceea8e19b36)
        ;

        
    
</script>
</html>